<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
      <clear />
      <add name="Name" 
       providerName="System.Data.ProviderName" 
       connectionString="vQeAsf6+Y7oZQVURbmcCSRwMy6PSxFzEu8cI5hp09nk=" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>